name: Language Stats (Pie Chart)
on:
  schedule: [{cron: "0 0 * * *"}]
  workflow_dispatch:
  push: {branches: ["master", "main"]}
jobs:
  github-metrics:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - uses: lowlighter/metrics@latest
        with:
          token: ${{ secrets.TOKEN }}
          filename: languages.svg
          repositories_affiliations: owner
          commits_authoring: paulus-seo, m9472757c@gmail.com

          base: ""
          plugin_languages: yes
          plugin_languages_ignored: html, css, tex, dockerfile, makefile, shell
          plugin_languages_limit: 8
          plugin_languages_sections: most-used
          plugin_languages_details: bytes-size, percentage
          plugin_languages_indepth: yes
